body {
    margin: 0;
    padding: 0;
    background-color: hsl(249, 30%, 10%);
    color: hsl(21, 9%, 92%);
    font-family: 'Space Mono', monospace;
  }

/* header {
} */

.content{
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}
video {
    width: 400px;
    height: 400px;
    border: solid hsl(21, 9%, 92%) 2px;
    margin: 5px;
    padding: 5px;
    background: hsla(21, 9%, 92%,0.3);
    
}


/* Media statements for small screens */
@media only screen and (max-width: 520px){
    video {
        width: 70vw;
        height: 70vw;
    }
}