/* white hsl(21, 9%, 92%), 
blue  rgb(21, 9,  92), hsl(249, 82%, 20%), 
mooi grijs hsl(249, 30%, 20%);*/

body {
  display: flex;
  flex-flow: column nowrap;    
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: hsl(249, 30%, 10%);
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 0;
  overflow-x: hidden;
}

canvas {
  object-fit: cover;
  /* width: 100vw !important;
  height: 100vh !important; */
  /* position: relative;
  top: 0;
  left: 0;
  z-index: -100; */
  margin: 0;
  padding: 0;
}

p {
  display: inline;
  color: hsl(21, 9%, 92%);
  font-family: 'Space Mono', monospace;
  font-size: 1em;
}